.footer {
  background: var(--white-smoked);
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-bottom: 2px solid var(--dark-blue);
  padding: 40px 0 15px 0;
  margin-bottom: 40px;
}

.footerNav__item {
  color: var(--dark-blue);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: var(--title-font-weight);
  line-height: normal;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 110px;
  margin-bottom: 20px;
}

.copyright {
  color: var(--gray);
}

@media (max-width: 768px) {
  .footer {
    margin-top: 40px;
  }

  .footerNav__logo {
    display: none;
  }

  .footerNav {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    border: none;
    gap: 24px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 24px;
  }

  .logoMedia {
    width: 34px;
    height: 30px;
  }
  .footer__social {
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .copyright {
    margin-left: -20px;
  }
}
