@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap");

/* pages */
@import "./Pages/home.css";
@import "./Pages/services.css";
@import "./Pages/contact.css";
@import "./Pages/blog.css";

/* modules */
@import "./Modules/header.css";
@import "./Modules/cta.css";
@import "./Modules/footer.css";
@import "./Modules/modal.css";

/* Design system */
:root {
  /* colors */
  --orange-highlight: #f54329;
  --dark-blue: #222c41;
  --gray: #838893;
  --white: #ffffff;
  --white-smoked: #faf9f7;
  --mocha: #fdeeda;

  /* Text configuration */
  --header-font: "Bebas Neue";
  --title-font: "Bebas Neue";
  --body-highlight-font: "Montserrat";
  --body-font: "Montserrat";

  --header-font-weight: 400;
  --title-font-weight: 400;
  --body-highlight-font-weight: 600;
  --body-font-weight: 400;

  --header-font-size: 72px;
  --title-font-size: 24px;
  --body-highlight-font-size: 20px;
  --body-font-size: 20px;

  --header-line-height: 86px;
  --title-line-height: 30px;
  --body-highlight-line-height: 24px;
  --body-line-height: 24px;
}

@media (max-width: 768px) {
  :root {
    /* mobile responsive variables*/
    --header-font-size: 40px;
    --title-font-size: 20px;
    --body-highlight-font-size: 16px;
    --body-font-size: 16px;

    --header-line-height: 48px;
    --title-line-height: 24px;
    --body-highlight-line-height: 20px;
    --body-line-height: 20px;
  }
}

body {
  background-color: var(--dark-blue);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  color: var(--mocha);
  font-style: normal;
}

h1 {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  line-height: var(--header-line-height);
  color: var(--mocha);
  font-style: normal;
  font-size: var(--header-font-size);
}

h2 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  color: var(--mocha);
  font-style: normal;
  font-size: var(--title-font-size);
}
