.blog__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 260px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log {
  display: block;
  position: absolute;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.blog__last {
  margin-bottom: 40px;
}

.blog__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  border: 3px solid var(--mocha);
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.blog__card:hover {
  transform: scale(1.15);
}

.blog__line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 20px 0;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog__list > .blog__card {
  min-width: 300px;
}

@media (max-width: 768px) {
  .blog__list {
    grid-template-columns: 1fr;
  }
}
