.services__title {
  text-align: center;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 100px;
}

.card__logo {
  height: 104px;
  width: 104px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  max-width: 380px;
  border: 2px solid var(--mocha);
  border-radius: 50px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
  padding: 21px;
}

.cardTitle {
  margin: 0;
}

.cardCta {
  color: var(--mocha);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: var(--title-font-weight);
  line-height: normal;
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid var(--mocha);
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.cardCta:active,
.cardCta:hover {
  transform: scale(1.15);
}

@media (max-width: 1024px) {
  .card__logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .card {
    height: fit-content;
    width: 80%;
    padding: 10px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: all 0.5s ease;
    padding-bottom: 20px;
  }

  .responsive > .cardArrow {
    height: 30px;
    margin-top: 10px;
  }
}
